.toolCard {
  background: rgba(255, 255, 255, 0.9); /* White card with slight transparency */
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.toolCard h3 {
  color: #2E7D32; /* Dark green for headings */
  font-weight: bold;
}

.toolCard p {
  color: #4A4A4A; /* Dark gray for text */
}

.viewButton {
  background-color: #2E7D32; /* Green button */
  color: white;
  border: none;
  padding: 10px 15px;
  /* width: 100%; */
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.viewButton:hover {
  background-color: #1B5E20;
}
