.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../images//auth/forgotPassword.jpg");
  background-size: cover;
  background-position: center;
}

.forgot-password-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.forgot-password-title {
  font-size: 2rem;
  color: #2c5e1a; /* Forest green */
  margin-bottom: 1rem;
}

.forgot-password-subtext {
  font-size: 1rem;
  color: #5c5c5c;
  margin-bottom: 1.5rem;
}

.email-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #2c5e1a; /* Forest green */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:active {
  transform: scale(0.98);
  background-color: #1f4613;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 90%;
}

.submit-btn:hover {
  background-color: #3b7c2a;
}
